*{
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.imagem-fundo{
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(./background-test.jpg);
    color: azure;
   height: 520px;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   background-position: fixed;
    
}
.control-menu{
    display: flex;
    justify-content: center;
}
li{
    list-style: none;
    padding: 20px;
}
.Intro{
    
    margin: 40px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2em;
}
.radius-img{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.perfil{
    margin-top: 60px;
    border: 7px solid white;
    border-radius: 500px;
    max-width: 280px;
}
nav{
    margin-top: 160px;
    display: flex;
    justify-content: center;
    
}
.container-nav{
    width: 35%;
    margin-right: 100px;
}
p{
    margin-top: 25px;
}

.redes{
    max-width: 32px;
}
footer{
    width: 100%;
    overflow: hidden;
    text-align: center;
    background-color: black;
    color: white;
    margin-top: 60px;
}